<h1> Plan ID <%= @plan.id%></h1>
<br>
<tr>
      <td><%= @plan.name %></td>
      <td><%= @plan.code %></td>
      <td><%= @plan.monthly_income %></td>
        <td><%= link_to 'Subscribe', edit_plan_path(@plan) %></td>

</tr>

<h1>Features: </h1>
<%= render @plan.features%>
