<tr>
  <td><%= feature.name %></td>
  <td><%= feature.unit_price %></td>
  <td><%= feature.max_unit_limit %></td>

  <% if current_user.admin? %>
  <%# <%byebug%> %>
    <td><%= link_to 'Show', plan_feature_path(@plan,feature) %></td>
    <td><%= link_to 'Edit', edit_plan_feature_path(@plan, feature) %></td>
    <td><%= link_to 'Destroy', plan_feature_path(@plan, feature),
    method: :delete,
      data: { confirm: 'Are you sure?' }%></td>
  <% elsif current_user.buyer? %>
    <%= form_for  [feature]  do |f| %>
      <%= f.label :Units %>
      <%= f.number_field :units_used %><br>
      <%= f.submit 'Submit' %>
  <% end %>
  <%end%> 
</tr> 
<br> 