<tr>
  <td><%= feature.name %></td>
  <td><%= feature.unit_price %></td>
  <td><%= feature.max_unit_limit %></td>
  <%# <%byebug%> %>
  <% if current_user.admin? %>
  <%# <%byebug%> %>
    <td><%= link_to 'Show', plan_feature_path(@plan,feature) %></td>
    <td><%= link_to 'Edit', edit_plan_feature_path(@plan, feature) %></td>
    <td><%= link_to 'Destroy', plan_feature_path(@plan, feature),
    method: :delete,
      data: { confirm: 'Are you sure?' }%></td>
  <% elsif current_user.buyer? %>
  <%# <%byebug%> %>
    <%# <%= link_to 'Add Usage', new_plan_subscription_usage_path(@plan, @subscription, feature) %> %>
  <%end%> 
</tr> 
<br> 